<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Nguyen Thi Ngoc</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <!-- *COLLAPSE* -->
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/"><i class="fa fa-home fa-fw"></i> HOME</a></li>
        <li><a href="#about"><i class="fa fa-info fa-fw"></i> ABOUT</a></li>
        <li><a href="#portfolio"><i class="fa fa-code fa-fw"></i> PORTFOLIO</a></li>
        <li><a href="#contact"><i class="fa fa-pencil fa-fw"></i> CONTACT</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid text-center" id="title">
  <h1 class="shadow">Nguyen Thi Ngoc</h1>
  <h3 class="shadow">Ruby on Rails developer</h3>
  <hr>
  <br>
  <div class="inline buttons">
    <a href="https://www.facebook.com/ngoc.nguyen.2505" target="_blank" class="btn btn-default"><i class="fa fa-facebook fa-fw"></i>Facebook</a>
    <a href="https://github.com/nguyenngoc2505" target="_blank" class="btn btn-default"><i class="fa fa-github fa-fw"></i>Github</a>
    <a href="https://vn.linkedin.com/in/ngoc-nguyen-2a35ba75" target="_blank" class="btn btn-default"><i class="fa fa-linkedin fa-fw"></i>LinkedIn</a>
  </div>
</div>

<div class="container-fluid jumbotron" id="about">
  <div class="row">
    <div class="col-xs-6 col-sm-8 lead">
      <h2>Hi, I'm Ngoc</h2>
      <p>I am graduated from University of Engineering and Technology: VNU in 2009.</p>
      <p>After graduated, I have started learn Ruby on Rails and currently I am a Ruby developer with over 5 years hands-on experience in backend development.
      I have experience for using AWS with nginx, unicorn | puma, monit | zabbix and heroku, digital ocean, etc. Now, I am working as a team leader with 5 - 7 members.</p>
      <p>I also can use HTML,CSS, Javascript, AngularJS, Bootstrap for front-end development
        and continue improve it</p>
    </div>
    <div class="col-xs-6 col-sm-4"><img class="img-rounded" id="aboutimg" src="http://res.cloudinary.com/ngocnguyen/image/upload/v1458871986/xlhsew0ngimpkouw50zw.jpg"> </img>
    </div>
  </div>
</div>

<div class="container-fluid text-center" id="portfolio">
  <div class="page-header">
    <h1 class="shadow">Portfolio</h1>
  </div>
  <div>
    <h4>Completed and current work in progress projects.</h4>
  </div>

  <div class="row">
    <div class="col-xs-6 col-sm-3">
      <a href="https://careerforum.net/en" target="_blank" class="thumbnail">
        <img class="img-responsive" src="http://wijapan.com/wp-content/uploads/2013/11/333001_10150391074703232_723288171_o-e1383571270460.jpg" alt="Disco">
        <div class="caption">
          <h4>Career Forum</h4>
          <p>This is a official website for DISCO's renowned 'Career Forum' series of job fairs, 'CFN' is an invaluable tool for job-seekers and recruiters alike.</p>
          <p>AWS services (Elasticsearch,  Elastic Transcoder, SNS, SQS, SES ...),
            Elasticsearch, Redis, Unicorn, Nginx, Facebook API, JSON</p>
        </div>
      </a>
    </div>
    <div class="col-xs-6 col-sm-3">
      <div class="thumbnail">
        <a href="https://github.com/hanami/hanami" target="_blank"> <img class="img-responsive image-description" src="https://pbs.twimg.com/media/CZsP1GBWcAAXPGH.png" alt="Hanami Framwork"></a>
        <div class="description">
          <p>A results page</p>
        </div>
        <div class="caption">
          <h4>Active member of Hanami</h4>
          <P>(Work as VOLUNTEERS)</P>
          <p>I worked with 5 tickets:</p>
          <p><a href="https://github.com/hanami/hanami/pull/199" target="_blank">Entity/Repository generator</a></p>
          <p><a href="https://github.com/hanami/hanami/pull/216" target="_blank">Add Lotus.env</a></p>
          <p><a href="https://github.com/hanami/hanami/pull/229" target="_blank">Model generator doesn't respect Ruby file naming</a></p>
          <p><a href="https://github.com/hanami/hanami/pull/230" target="_blank">Model generator creates wrong RSpec files</a></p>
          <p><a href="https://github.com/hanami/hanami/pull/232" target="_blank">Action generator</a></p>
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-sm-3">
      <a href="#" target="_blank" class="thumbnail">
        <img class="img-responsive" src="https://pbs.twimg.com/profile_images/499126710655148032/Qdd5lxk2_400x400.png" alt="Wanpick">
        <div class="caption">
          <h4>API for Wanpick application</h4>
          <p>This is mobile application about making hot item in day, week</p>
          <p>AWS services, Cassandra, Elasticsearch, Redis, Unicorn, Nginx,
            Facebook API, Twitter API, JSON</p>
        </div>
      </a>
    </div>
    <div class="col-xs-6 col-sm-3">
      <a href="http://rubygirls.org.vn/" target="_blank" class="thumbnail">
        <img class="img-responsive" src="https://avatars1.githubusercontent.com/u/12144447?v=3&s=400" alt="Ruby Vietnam" style="width:220px;height:220px">
        <div class="caption">
          <h4>Represent of Ruby Girls Vietnam at Hanoi</h4>
          <p>Join as an organizer of Rails girls event (during 2nd and 3rd April).</p>
          <p>This event only for girl to learn how to build web application using Ruby on Rails and research about the power of Rails</p>
        </div>
      </a>
    </div>
  </div>
</div>

<div class="container-fluid text-center" id="contact">
  <h3>Contact: nguyenngoc2505@gmail.com
  <br><br>
    <small>or via:</small></h3>
  <div class="inline buttons">
    <a href="https://www.facebook.com/ngoc.nguyen.2505" target="_blank" class="btn btn-default"><i class="fa fa-facebook fa-fw"></i>Facebook</a>
    <a href="https://github.com/nguyenngoc2505" target="_blank" class="btn btn-default"><i class="fa fa-github fa-fw"></i>Github</a>
    <a href="https://vn.linkedin.com/in/ngoc-nguyen-2a35ba75" target="_blank" class="btn btn-default"><i class="fa fa-linkedin fa-fw"></i>LinkedIn</a>
  </div>

  <div class="container-fluid" id="footer">
    <div>
      <p><i class="fa fa-copyright fa-fw"></i>COPYRIGHT <%= Time.now.year %></p>
    </div>
  </div>
</div>
